* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    letter-spacing: .05em;
    background-color: #f7f7f7;
    padding: 25px;
  }

  header {
     margin: 0px 0px 50px;
  }

  nav {
    background-color: #78866b;
    border-radius: 15px;
    padding: 15px 15px;
  }

  main {
    margin: 0px -22px;
    padding: 1px 65px;
}

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: mediumpurple;
  }

  h1, h2, .top-nav {
    text-align: center;
  }

  h1 a, .top-nav a {
    color: #000;
  }

  h2 {
    margin-top: auto;
  }

  img {
    height: auto;
    margin: auto;
    max-width: 100%;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    border-top: 1px solid lightgray;
  }

  .main {
    background-color: #fff;
  }

  .top-nav{
    text-transform: uppercase;
    width: 100%;
  }

  .top-nav li {
    background-color: white;
    padding: 10px 0;
    margin: 5px auto;
    border-radius: 50px;
  }

  .headcontainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: large;
}

.headcontainer img {
    padding: 50px 50px;
}

.headcontainer p {
    margin: auto;
}

.portfolio {
    margin-top: 100px;
}

  .container {
    display: flex;
    flex-direction: column;
  }

  main h2 {
    padding: 50px 50px;
  }

  .col {
    margin: 10px;
    min-height: 250px;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
  }

  .skill-list {
    font-size: large;
    font-weight: bold;
  }

  #contact {
    text-align: center;
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
}

#contact p {
    margin: 15px -50px 5px;
}

#skills {
    text-align: center;
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
}

.bot-nav {
    display: none;
}

  /* Media */

  @media (min-width: 768px) { 
    .top-nav {
        margin-top: 0;
    }

    .top-nav li, .bot-nav li {
        display: inline-flex;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .top-nav li:last-child {
        margin-right: 0;
      }

      .top-nav a {
        color: #000;
      }

      nav p {
        order: -1;
      }

      .headcontainer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .col {
        flex-basis: calc(50% - 20px);
      }

    .bot-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .bot-nav li:last-child {
        margin-right: 0;
      }

    .to-top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
      }
    }

  @media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    .top-nav, .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  .headcontainer {
    margin-top: 100px;
  }

  .col {
    flex-basis: calc(33.333% - 20px);
  }
}